<h2>All order</h2>

<div class="row container">
<table class="table table-stripped">
<thead>
<tr>
  <th>Order</th>
  <th>Client name</th>
  <th>Phone</th>
  <th>Adress</th>
</tr>
</thead>
<tbody>
  <% @orders.each do |t| %>
    <tr>  
      <td><%= t.orders_input%></td>
      <td><%= t.name%></td>
      <td><%= t.phone%></td>
      <td><%= t.adress%></td>
    <tr>
  <% end %>
</tbody>
</table>
 </div>