<h2>Pizza shop</h2>

<div class="row container">

  <% @products.each do |p| %>
  <div class="col-md-3">
    <div>  
      <h4> <%= p.title %> </h4>
    </div>  

    <div>  
      <img style="max-width: 250px" src="<%= p.path_to_image %>">
    </div>  

    <div>  
      <%= p.description %>
    </div>  

    <div>  
      Size <%= p.size %> cm
    </div>  

    <div>  
      Price <%= p.price %> rub
    </div>  

    <div>  
      <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)"> Add to cart </button>
    </div>  


  </div>
  <% end %>

 </div>